#Advertisement3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#adv3-belt {
  width: 1272px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#ad3-card1 {
  background: url(/SportPulseRepo1/img/Ad3/1st.container.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: end;
  padding: 0px 0px 20px 15px;
}

#ad3-card2 {
  background: url(/SportPulseRepo1/img/Ad3/2nd.container.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: end;
  padding: 0px 0px 20px 15px;
}

.adv3-paragraph {
  color: var(--primary-color-);
}

@media only screen and (max-width: 600px) {
  #adv3-belt {
    width: 100%;
    flex-direction: column;
  }

}