#our-brands {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}

#our-brands-belt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.brands {
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.our-brand-cards {
  
  width: 302px;
  height: 530px;
}

#brands-card-1 {
  position: relative;
  background: url(/SportPulseRepo1/img/OurBrands/Adidas.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
}

#brands-card-2 {
  position: relative;
  background: url(/SportPulseRepo1/img/OurBrands/Nike.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#brands-card-3 {
  position: relative;
  background: url(/SportPulseRepo1/img/OurBrands/Puma.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
}
#brands-card-4 {
  position: relative;
  background: url(/SportPulseRepo1/img/OurBrands/Vans.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #fc6a0f;
  
}

.our-brand-cards:hover .overlay {
  opacity: 0.5;
}


@media only screen and (max-width: 600px) {

  #our-brands {
  width: 100%;
  }

  #our-brands-belt  {
    flex-direction: column;
  }

  .our-brand-cards {
    width: 150px;
    height: 250px;
    object-fit: contain;
  }

  .brands {
    margin-bottom: 10px;
  }

}