footer {
  height: 200px;
  background-color: #D4CBCE;
  margin-top: 45px;
}


#footer-belt {
height: 50%;  
display: flex;
justify-content: center;
align-items: center;
}

#footer-belt {
  display: flex;
  justify-content: center;
  align-items: center;
}


#footer-txt {
  height: 50%; 
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: center;
}

#footer-prg-1 {
  margin-right: 30px;
}

@media only screen and (max-width: 600px){

  footer {
    height: 300px;
  }

  #footer-txt {
    padding: 10px 10px;
  }

}